.App {
  text-align: center;
}


.SmurfsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.smurfs {
  background: lightblue;
  width: 40%;
  margin-top: 20px;
  border-radius: 20px;
}

.fas {
  margin-left: 340px;
  margin-top: 10px;
}